body{
    padding: 0;
    margin: 0;  
}

.header {
     
    
    width: 100%;
    height: 100vh;
       background-color: #861d1d ;
     background-size: cover;
     display: flex;
    justify-content: center;
    align-items: center;
}


